@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container.blog {
  width: 100%;
  padding: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.hero {
  background: url("http://photos-f.ak.instagram.com/hphotos-ak-xaf1/t51.2885-15/10948723_622653197863333_904337402_n.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .hero-text {
  color: white;
  margin-top: 200px;
  z-index: 5;
  text-transform: uppercase;
}
.hero .hero-text h1, .hero .hero-text h3 {
  font-weight: 100;
}

#author {
  height: 100px;
  width: 100px;
  background: url("http://photos-h.ak.instagram.com/hphotos-ak-frc/t51.2885-15/10543588_1461279140794207_2073217330_n.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 50px;
  margin: 50px auto 10px;
}

#name {
  text-align: center;
}

.body-text {
  text-align: justify;
  line-height: 30px;
}
.body-text:first-line {
  font-weight: bold;
}
.body-text:first-letter {
  font-size: 24px;
}

.pull-quote {
  color: firebrick;
  margin: 20px 0px;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

p {
  margin: 30px 0px;
}

ul {
  margin: 20px auto;
  list-style-type: square;
}
ul li {
  font-weight: 500;
}

.image {
  height: 300px;
  width: 100%;
  background-color: #b22222;
  margin: 30px 0px;
}

.subhead {
  font-size: 200%;
  margin-bottom: -25px;
  text-transform: uppercase;
  font-weight: 300;
}

body:before {
  content: "";
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

body {
  background: #ccc;
  color: #666;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

a, a:visited {
  color: #2b8890;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #444;
}

article.post {
  background: #f5f5f5;
  margin: 40px auto;
  padding: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

p.post-date {
  background: #232323;
  font-weight: bold;
  text-align: center;
  width: 65px;
  margin: 0;
  padding: 5px 0em;
  position: absolute;
  left: -65px;
  top: 20px;
}

span.post-month {
  color: #666;
  display: block;
  font-size: 14px;
}

span.post-day {
  color: #e3e3e3;
  display: block;
  font-size: 23px;
  margin-top: -8px;
  font-weight: bold;
}

div.photo div.caption, img {
  padding: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: block;
}

div.photo div.caption {
  padding: 0em 1em;
  width: 80%;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: block;
}

div.text p, div.text ul, div.photo p, div.photo ul, div.link p, div.link ul, div.quote p, div.quote ul, div.video p, div.video ul {
  padding-bottom: 18px;
}

div.text ul {
  padding-left: 28px;
}

div.text h3 {
  color: #2b8890;
  font-size: 22px;
  line-height: 1.3;
  padding-bottom: 15px;
}

div.quote blockquote {
  font-family: Georgia,serif;
  font-size: 18px;
  padding-bottom: 20px;
  position: relative;
  color: #999;
}

div.video iframe {
  width: 549px;
  height: 309px;
}

footer.post-footer {
  border-top: 1px solid #ececec;
  padding: 16px 0;
}

footer.post-footer a, footer.post-footer a:visited {
  color: #ccc;
  font-size: 14px;
  font-weight: normal;
  padding: 0 32px;
}

footer.post-footer a:hover {
  color: #999;
  text-decoration: none;
}



.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 1em;
  display: none;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
   text-decoration: none;
   color: white;



}